<div class="corpo" >
    <block-ui message="Carregando">
        <h3>Catálogo de tecnologias</h3>
        <hr/>
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <input type="text" placeholder="Descrição (*)" maxlength="50" name="descricao" [(ngModel)]="categoria.descricao" required>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <input type="text" placeholder="Categoria  (*)" maxlength="10" [(ngModel)]="categoria.categoria" required>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <input type="text" placeholder="Tag  (*)" maxlength="5" [(ngModel)]="categoria.tag" required>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <input type="text" placeholder="Icone" maxlength="10" [(ngModel)]="categoria.icone">
                </div>
            </div>
       </div>
       <div class="row">    
            <div class="col-2">
                <div class="form-group">
                    <button class="button action" 
                    [disabled]="!categoria.descricao || !categoria.categoria || !categoria.tag"
                    (click)="salvar()"
                    ><i class="fa fa-save"></i> Salvar</button>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group pull-right">
                    <button class="button action" 
                    [disabled]="!categoria.descricao || !categoria.categoria || !categoria.tag"
                    (click)="limpar()"
                    ><i class="fa fa-trash"></i> Limpar</button>
                </div>
            </div>
       </div>
    
       <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" >Ações</th>
            <th scope="col">Descrição</th>
            <th scope="col">Categoria</th>
            <th scope="col">Tag</th>
            <th scope="col">Icone</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cat of categorias">
            <th scope="row" class="text-center" style="max-width: 20px;">
               <div class="row">
                    <div class="col-6">
                        <button class="btn btn-sm btn-primary" (click)="alterarCategoria(cat)"><i class="fa fa-save"></i>  Alterar</button>              
                    </div>
                    <div class="col-6">
                        <button class="btn btn-sm btn-danger" (click)="excluir(cat.idCatalogo)"><i class="fa fa-trash"></i>  Excluir</button>
                    </div>
               </div>
            </th>
            <td>{{cat.descricao}}</td>
            <td>{{cat.categoria}}</td>
            <td>{{cat.tag}}</td>
            <td>{{cat.icone}}</td>
          </tr>
        </tbody>
      </table>
    </block-ui>
</div>
<div class="corpo">
    <h3>Gerenciamento de posts</h3>
    <hr/>
    <div class="row">
        <div class="col-3">
            <div class="form-group">
                <label>Catalogo Categorias</label>
                <select class="custom-select" name="categoriaPost" [(ngModel)]="post.catalogoTecnologiaIdCatalogo">
                    <option value='0' selected>Selecione</option>  
                    <option *ngFor="let cat of categorias" [value]="cat.idCatalogo">{{cat.descricao}}</option>
                </select>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label>Título</label>
                <input type="text" name="titulo" [(ngModel)]="post.titulo">
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label>Autor</label>
                <select class="custom-select" name="autor" [(ngModel)]="post.autorId">
                    <option value='0' selected>Selecione</option> 
                    <option *ngFor="let usuario of usuarios" [value]="usuario.id">{{usuario.nome}}</option>
                </select>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label>Modelos</label>
                <select class="custom-select" name="modelo" [(ngModel)]="modeloSelecionado" (ngModelChange)="selecionarModelo()">
                    <option value='' selected>Selecione</option> 
                    <option *ngFor="let modelo of modelos" [value]="modelo.texto">{{modelo.descricao}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <div [ngxSummernote]="config" [(ngModel)]="post.texto"></div>
            </div>
        </div>
    </div>
    <div class="row">    
        <div class="col-1">
            <div class="form-group">
                <button class="button action" 
                [disabled]="!post.texto || !post.titulo"
                (click)="cadastrarPost()"
                ><i class="fa fa-save"></i> Salvar</button>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group pull-right">
                <button class="button action" 
                [disabled]="!post.texto || !post.titulo"
                (click)="limparPost()"
                ><i class="fa fa-trash"></i> Limpar</button>
            </div>
        </div>
   </div>
   <div class="row">
       <div class="col">
           <div class="form-group">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col" >Ações</th>
                    <th scope="col">Data Postagem</th>
                    <th scope="col">Título</th>
                    <th scope="col">Texto</th>
                    <th scope="col">Ativo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let po of posts">
                    <th scope="row" class="text-center" style="max-width: 110px;">
                       <div class="row">
                            <div class="col-3">
                                <button class="btn btn-sm btn-primary" (click)="alterarPost(po)"><i class="fa fa-save"></i>  Alterar</button>              
                            </div>
                            <div class="col-3">
                                <button class="btn btn-sm btn-danger" (click)="excluirPost(po.idPost)"><i class="fa fa-trash"></i>  Excluir</button>
                            </div>
                            <div class="col-3">
                                <button class="btn btn-sm" [ngClass]="{'btn-success': po.ativo, 'btn-warning':!po.ativo}" (click)="ativarPost(po.idPost,po.ativo)">
                                    <i class="fa fa-toggle-on"></i>  
                                    <span *ngIf="po.ativo">Ativo</span>
                                    <span *ngIf="!po.ativo">Inativo</span>
                                </button>
                            </div>
                       </div>
                    </th>
                    <td style="max-width: 90px;">{{po.dataPostagem | date:'dd/MM/yyyy'}}</td>
                    <td>{{po.titulo}}</td>
                    <td style="max-width: 350px;">{{po.texto.substring(0,50)}} <span style="color: gray;">...continua</span></td>
                    <td><label *ngIf="po.ativo" class="text-primary">SIM</label><label *ngIf="!po.ativo" class="text-danger">NÃO</label></td>
                  </tr>
                </tbody>
              </table>
           </div>
       </div>
   </div>
</div>