<article >
    <header>
      <div class="title">
        <img src="assets/img/rc.jpg"/>
        <h2>Autor: Renan Cris da Conceição</h2>
        <p>Software Engineer</p>
      </div>
    </header>
    <div class="conteudo">
        Pós-Graduado em Engenharia de Software pelo SENAC e Formado pela Universidade Estácio de Sá (UNESA).
        <p>A mais de 10 anos no mercado de tecnologia, com atuações como engenherio de sistemas, lider ténico, arquiteto, analista desenvolvedor e outros.</p>
        <p>Especialista em .NET, usando C# como linguagem. Javascript, com os principais frameworks e bibliotecas. </p>
        <p>Participou de vários projetos. Presente nos principais eventos dessa grande comunidade de TI.</p>
    
       <div class="icones">
            <ul>
                <li><i class="icon-nodejs"></i></li>
                <li><i class="icon-visual-studio"></i></li>
                <li><i class="icon-bootstrap"></i></li>
                <li><i class="icon-database"></i></li>
                <li><i class="icon-mongodb"></i></li>
                <li><i class="icon-mysql"></i></li>
                <li><i class="icon-sql"></i></li>
                <li><i class="icon-express"></i></li>
                <li><i class="icon-angular"></i></li>
                <li><i class="icon-jquery"></i></li>
                <li><i class="icon-java"></i></li>
                <li><i class="icon-csharp"></i></li>
                <li><i class="icon-github"></i></li>
                <li><i class="icon-git"></i></li>
                <li><i class="icon-js"></i></li>
                <li><i class="icon-css-alt"></i></li>
            </ul>
       </div>
    </div>
    <a [routerLink]="['/home']" class="button large" ><i class="fa fa-backward"></i> Voltar</a>
  </article>
  